doctype html
html
    head
        // meta 
        meta(charset='utf-8')
        meta(name='viewport', 
            content='width=device-width, initial-scale=1, shrink-to-fit=no')

        // title
        title= title
        
        // stylesheets
        link(rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous")
        link(rel="stylesheet" 
            href="/stylesheets/style.css")

        block stylesheets

        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
            crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
            crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")

        block scripts

    body
        nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
            a.navbar-brand.col-sm-3.col-md-2.mr-0(href="#") 
                span.mr-1(data-feather="share-2")
                |   Ease Solutions
            ul.navbar-nav.px-3
                li.nav-item.text-nowrap
                    a.nav-link(href="#")
                        span(data-feather="log-out")
                        |   Sign Out

        .container-fluid
            .row
                nav.col-md-2.d-none.d-md-block.bg-light.sidebar
                    .sidebar-sticky
                        ul.nav.flex-column.ml-1
                            li.nav-item.mb-2
                                a.nav-link.active(href="#")
                                    span(data-feather="clipboard")
                                    |   Transaction
                                    span.sr-only (current)
                            li.nav-item.mb-2
                                a.nav-link(href="#")
                                    span(data-feather="layers")
                                    |   Inventory
                            li.nav-item.mb-2
                                a.nav-link(href="#")
                                    span(data-feather="file-text")
                                    |   Receipt
                            li.nav-item.mb-2
                                a.nav-link(href="/m/shops/xxx/contacts")
                                    span(data-feather="users")
                                    |   Contact
                
                block content
                
        script.
            feather.replace();
