doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' 
            content='width=device-width initial-scale=1 shrink-to-fit=no')
        meta(property='og:title', content='Teresa Image in red')
        meta(property='og:image', content='/images/ar-1.jpg')

        link(rel='stylesheet', href='/stylesheets/productDetail.css')
        link(rel='stylesheet', 
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', 
            integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', 
            crossorigin='anonymous')

        script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
        
        title Black Friday
    body
        .container-fluid.fixed-bottom
            #shoppingCart.btn.btn-dark.justify-content-center
                span(data-feather='shopping-cart')
                span(class='badge badge-pill badge-light ml-1') 5

        .container
            .row
                nav(aria-label='breadcrumb')
                    ol.breadcrumb.bg-white
                        li.breadcrumb-item
                            a(href='/') Home
                        li.breadcrumb-item
                            a(href='#') Branded MG
                        li.breadcrumb-item.active(aria-current='page') Teresa Skirt in Red
            .row.mt-1
                .col-sm-4.px-3
                    #imgCarousel.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                            li.bg-dark.active(data-target='#imgCarousel', data-slide-to='0')
                            li.bg-dark(data-target='#imgCarousel', data-slide-to='1')
                            li.bg-dark(data-target='#imgCarousel', data-slide-to='2')
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100(src='/images/ts-3.jpg', alt='...')
                            .carousel-item
                                img.d-block.w-100(src='/images/ts-2.jpg', alt='...')
                            .carousel-item
                                img.d-block.w-100(src='/images/ts-1.jpg', alt='...')
                        a.carousel-control-prev(href='#imgCarousel', role='button', data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#imgCarousel', role='button', data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next
                .col-sm-5
                    .div.border-bottom.pt-3
                        h4 Teresa skirt in red
                        p#brand-text by
                            span  
                                a(href="#") Branded MG
                    .div.mt-2.py-0
                        .row
                            .col-4 List Price: 
                            .col
                                del.text-red 53,500 MMK
                        .row
                            .col-4 Now:
                            .col 13,500 MMK
                    h5.my-4 Code:
                        span  MDS0000101

                .col-sm-3
                    .card.card-body
                        h6.border-bottom.card-title.pb-2 Delivery
                        p.card-text Pick up or ship to all 14 states

                        h6.border-bottom.card-title.pb-2 Payment
                        p.card-text Cash on Delivery

                        button.btn.btn-primary.mt-2 Add to Cart
                        button.btn.btn-primary.mt-2 Checkout

        script.
            feather.replace();

        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', 
            integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', 
            crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', 
            integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', 
            crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', 
            integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', 
            crossorigin='anonymous')
      
