h6(class="card-header bg-light text-center" 
    data-toggle="collapse" 
    data-target="#collapsePayment" 
    aria-expanded="true" 
    aria-controls="collapsePaymemt") Payment
div(id="collapsePayment" 
    class="collapse" 
    aria-labelledby="collapsePayment" 
    data-parent="#accordion")
    .card-body Content to be added.