h6(class="card-header secondary bg-light text-center" 
    data-toggle="collapse" 
    data-target="#collapseReview" 
    aria-expanded="true" 
    aria-controls="collapseReview") Review
div(id="collapseReview" 
    class="collapse" 
    aria-labelledby="collapseReview" 
    data-parent="#accordion")
    .card-body Content to be added.