extends ../layout

block stylesheets
    style.
        .dotted-border { 
            border-style: dashed;
        }

        #inputBrand-flexdatalist-results { 
            font-size: 14px;
            position: absolute; 
            z-index: 1051 !important;
        }

block scripts
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js')
    script(src='/javascripts/uploadS3.js')
    script(src='/javascripts/jquery.flexdatalist.min.js')
    script(src='/javascripts/autocomplete.js')

block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role="main")
        .container-fluid
            .row
                .col
                    input(type='text'
                        placeholder='Write your country name'
                        class='flexdatalist')
            .row
                .col 
                    // Large modal
                    button.btn.btn-primary(type='button', 
                        data-toggle='modal', 
                        data-target='.bd-example-modal-lg') Large modal
                    .modal.fade.bd-example-modal-lg(tabindex='-1', 
                        role='dialog', 
                        aria-labelledby='myLargeModalLabel', 
                        aria-hidden='true')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    h5#exampleModalLabel.modal-title Add Inventory
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                        span(aria-hidden='true') ×
                                .modal-body
                                    form
                                        .form-group.row
                                            label.col-sm-3.col-form-label(for='inputName') Name
                                            .col-sm-9
                                                input#inputName.form-control.text-center(type='text', placeholder='Name')
                                        .form-group.row
                                            label.col-sm-3.col-form-label(for='inputCategory') Category
                                            .col-sm-9
                                                input#inputCategory.form-control.text-center(type='text', placeholder='Category')
                                        .form-group.row
                                            label.col-sm-3.col-form-label(for='inputBrand') Brand
                                            .col-sm-9
                                                input#inputBrand.brand-flexdatalist.form-control.text-center(type='text', placeholder='Brand')
                                        .form-group.row
                                            label.col-sm-3.col-form-label(for='inputQuantity') Quantity
                                            .col-sm-9
                                                input#inputQuantity.form-control.text-center(type='number', placeholder='Quantity')
                                        .form-group.row
                                            label.col-sm-3.col-form-label(for='inputBuyingPrice') Buying Price
                                            .col-sm-9
                                                input#inputBuyingPrice.form-control.text-center(type='number', placeholder='Buying Price')
                                        .form-group.row
                                            label.col-sm-3.col-form-label(for='inputSellingPrice') Selling Price
                                            .col-sm-9
                                                input#inputSellingPrice.form-control.text-center(type='number', placeholder='Selling Price')
                                        .form-group.row#qrCode
                                            label.col-sm-3.col-form-label(for='inputQRCode') QR Code
                                            .col-sm-9
                                                button.btn.btn-primary(type='button') Generate
                                        .form-group
                                            label(for='uploadImages') Upload Images
                                            .col-sm-12.card.card-body.dotted-border.pb-0
                                                .row
                                                    .col-sm-3.mb-4
                                                        .card.card-body.dotted-border 
                                                            div.text-center
                                                                span(data-feather='plus')    

                                .modal-footer
                                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                                    button.btn.btn-primary(type='button') Submit
